<!DOCTYPE html>
<html>

<body>
        <div class="container">
            <h2>注册</h2>
            <form action="/user/reg" method="post">
            <input type="text" name="username" class="input" />
            <input type="password" name="password" class="input" />
            <input type="submit" class="btn btn-warning" />
            </form>
        </div>
</body>

</html>